.ImageGallery {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.listContainer {
  display: flex;
  flex-direction: column;
}

.startLabel {
  padding-top: 50px;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: #303f9f;
}
